body {
  font: 200 16px/1.5 "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  background: #eeeeee; }

.navbar-nav {
  font-weight: 400; }

.navbar-default {
  border: none; }

.navbar-collapse,
.navbar-header {
  background: #1a1a1a; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #eeeeee;
  background: #7ac143; }

.navbar-default .navbar-nav > li > a {
  color: #eeeeee; }

.navbar-default .navbar-nav > li > a:hover {
  color: #7ac143; }

.navbar-toggle {
  margin-right: 25px; }

#logo {
  display: inline-block;
  margin: 10px 10px 0 20px; }

a {
  color: #7ac143; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

#tweet-list {
  margin: 1em 0; }

.tweet {
  position: relative;
  margin-bottom: 1em;
  display: none; }

body.list-all .tweet {
  display: block; }

body.list-follow-up .mark-follow-up {
  display: block; }

body.list-deleted .mark-deleted {
  display: block; }

.tweet-text {
  font-size: 1.3125em;
  /*white-space: pre-line;*/ }

.tweet-actions {
  position: absolute;
  font-size: 1.3125em;
  bottom: 0.671em;
  right: 0.671em;
  color: #ddd; }

.tweet-actions li {
  display: inline-block; }

.selected {
  color: #7ac143; }

.deleted {
  color: #b31e00; }

.tweet-actions i:hover {
  cursor: pointer; }

.media-body {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  padding: 1em 2em 1em 1em; }

.media-body p:last-child {
  margin: 0; }
