﻿@import 'base';
@import 'helpers';

body {
	font: 200 16px/1.5 $font-stack;
	background: $primary-light;
}

	.navbar-nav {
		font-weight: 400;
	}

	.navbar-default {
		border: none;
	}
	
	.navbar-collapse,
	.navbar-header {
		background: $primary-dark;
		
	}

	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
		color: $primary-light;
		background: $selected;
	}

	.navbar-default .navbar-nav > li > a {
		color: $primary-light;
	}

		.navbar-default .navbar-nav > li > a:hover {
			color: $selected;
		}

	.navbar-toggle {
		margin-right: 25px;
	}

	#logo {
		display: inline-block;
		margin: 10px 10px 0 20px
	}

	a { color: $selected; }

	.container-fluid {
		padding-left: 0;
		padding-right: 0;
			
	}

	#tweet-list {
		margin: 1em 0;
	}

	.tweet {
		position: relative;
		margin-bottom: 1em;
		display: none;
	}

		body.list-all .tweet {  display: block; }
		body.list-follow-up .mark-follow-up {  display: block; }
		body.list-deleted .mark-deleted {  display: block; }

		.tweet-text {
			font-size: 1.3125em;
			/*white-space: pre-line;*/
		}

	.tweet-actions {
		position: absolute;
		font-size: 1.3125em;
		bottom: 0.671em;
		right: 0.671em;
		color: #ddd;
	}

		.tweet-actions li {
			display: inline-block;
		}

		.selected { color: $selected; }

		.deleted { color: $deleted; }

		.tweet-actions i:hover { cursor: pointer; }

	.media-body {
		border: 1px solid #ddd;
		@include border-radius(4px);
		background: #fff;
		padding: 1em 2em 1em 1em;
	}

		.media-body p:last-child {
			margin: 0;
		}
